@import "tailwindcss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.slanted-img {
  width: 100%;
  height: 80px;
  /* adjust as needed */
  object-fit: cover;

  clip-path: polygon(0 0, 100% 0, 100% 2%, 0 18%);
}
.slanted-img2 {
  width: 100%;
  rotate: 180deg;
  height: 80px;
  /* adjust as needed */
  object-fit: cover;

  clip-path: polygon(0 0, 100% 0, 100% 2%, 0 18%);
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}